/MAC_labo2_part2/nbproject/private/
/MAC_labo2_part2/build/
/MAC_labo2_part2/dist/
/MAC_labo2_part2/nbbuild/
/MAC_labo2_part2/nbdist/
.DS_Store
*/.DS_Store

# latex
rapport/*.log
rapport/*.lof
rapport/*.aux
rapport/*.gz
rapport/*.lot
rapport/*.out
rapport/*.bbl
rapport/*.blg
rapport/*.toc
rapport/*.pdf
