/MAC_labo2_part2/nbproject/private/
/MAC_labo2_part2/build/
/MAC_labo2_part2/dist/
/MAC_labo2_part2/nbbuild/
/MAC_labo2_part2/nbdist/
.DS_Store
*/.DS_Store

# latex
Rapport/*.log
Rapport/*.lof
Rapport/*.aux
Rapport/*.gz
Rapport/*.lot
Rapport/*.out
Rapport/*.bbl
Rapport/*.blg
Rapport/*.toc
Rapport/*.pdf
texput.log
